
<div class="card animated fadeIn fast">
    <img src="{{item.img}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.nombre}}</h5>
      <p class="card-text">{{item.bio}}</p>
      <p class="card-text"><small class="text-muted">{{item.aparicion}}</small></p>
    </div>
    <button (click)= "verHeroe()" 
    class="btn btn-outline-primary btn-block">ver mas ...</button>
    <!-- <a [routerLink]="['/heroe',i]"  class="btn btn-outline-primary btn-block">ver mas</a>
  </div> -->
</div>