<div>
    <h1>Buscando:  <small>{{termino}}</small></h1>

</div>

<div class="row" *ngIf="item.length == 0">
    <div class="col-md-12">
        <div class="alert alert-primary" role="alert">
            no existe el termino de busqueda {{termino}}
        </div>
    </div>
</div>

<div class="card-columns">
    
    <app-tarjeta-generica [item]="tempItem" [index]="i" *ngFor="let tempItem of item; index as i"></app-tarjeta-generica>
</div>
