

<h1>{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date: 'y'}})</small></h1>

<div class="row">
    <div class="col-md-4">
        <img [src]="heroe.img" alt="heroe.nombre">
        <br><br>
        <a href="heroes" class="btn btn-outline-primary btn-block">regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>{{heroe.bio}}</p>
        <div >
            <img  *ngIf="heroe.casa == 'Marvel'" class="img-logo"  src='assets/img/marvel-logo.png' alt="marvel">
            <img *ngIf="heroe.casa == 'DC'" class="img-logo" src='assets/img/dc-logo.jpg'  alt="dc"> 
        </div>

    </div>
</div>
